<h3>Template (
  <a href="https://github.com/leovo2708/ngxs-treeview/tree/master/src/demo/dropdown-treeview-select" target="_blank">source code</a>)</h3>
<ul>
  <li>Write a custom component <i>ngxs-dropdown-treeview-select</i> to support single selection by using custom template</li>
</ul>
<div class="row">
  <div class="col-12">
    <div class="alert alert-success" role="alert">
      Selected book id: {{ value }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <button class="btn btn-secondary" (click)="loadBooks1()">Load books 1</button>
      <button class="btn btn-secondary" (click)="loadBooks2()">Load books 2</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <div class="d-inline-block">
        <ngxs-dropdown-treeview-select [items]="items" [(value)]="value" (valueChange)="onValueChange($event)">
        </ngxs-dropdown-treeview-select>
      </div>
    </div>
  </div>
</div>
